.header__auth_form {
    position: absolute;
    left: 33vw;
    top: 20px;
    display: flex;
    padding-top: 4vw;
    font-size: 18px;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    max-width: 600px;
    max-height: 600px;
    z-index: 1;
    border-radius: 20px;
    background-color: inherit;
    -webkit-box-shadow: 0px 0px 15px 2px #000000;
    box-shadow: 0px 0px 15px 2px #000000;
}

.header__auth_form_btn {
    margin-top: 10px!important;
}

.header__auth_form_close_icon {
    position: absolute;
    top: 13px;
    right: 15px;
}

.header__auth_form_close_icon:hover {
    cursor: pointer;
}

.header__auth_form_close_icon:hover, .header__auth_form_span_error_message, .header__auth_form_warning_amber_icon {
    color: red;
}

.header__auth_form_forgot_password {
    color: inherit;
    font-size: 16px;
    margin-top: 30px;
    background-color: inherit;
    border: none;
}

.header__auth_form_forgot_password:hover {
    text-decoration: underline;
    color: #3b7fe5;
    cursor: pointer;
}

@media screen and (min-width: 850px) and (max-width: 992px){
    .header__auth_form {
        left: 23vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px){
    .header__auth_form {
        left: 19vw;
    }
}

@media screen and (min-width: 660px) and (max-width: 768px){
    .header__auth_form {
        left: 15vw;
    }
}

@media screen and (min-width: 630px) and (max-width: 660px){
    .header__auth_form {
        left: 12vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 630px){
    .header__auth_form {
        left: 7vw;
    }
}


@media screen and (min-width: 550px) and (max-width: 576px){
    .header__auth_form {
        left: 5vw;
    }
}


@media screen and (min-width: 540px) and (max-width: 550px){
    .header__auth_form {
        left: 6vw;
        width: 480px;
    }
}

@media screen and (min-width: 500px) and (max-width: 540px){
    .header__auth_form {
        left: 7vw;
        width: 450px;
    }
}

@media screen and (min-width: 480px) and (max-width: 500px){
    .header__auth_form {
        left: 4vw;
        width: 450px;
    }
}

@media screen and (min-width: 440px) and (max-width: 480px){
    .header__auth_form {
        left: 7vw;
        width: 400px;
    }
}

@media screen and (min-width: 423px) and (max-width: 440px){
    .header__auth_form {
        left: 10vw;
        width: 350px;
    }
}

@media screen and (min-width: 400px) and (max-width: 423px){
    .header__auth_form {
        left: 11vw;
        width: 330px;
    }
}

@media screen and (min-width: 370px) and (max-width: 400px){
    .header__auth_form {
        left: 9vw;
        width: 320px;
    }
}

@media screen and (max-width: 370px){
    .header__auth_form {
        left: 6vw;
        width: 320px;
    }
}
