.header__auth_forgot_password {
    position: absolute;
    left: 33vw;
    top: 20px;
    display: flex;
    padding-top: 4vw;
    font-size: 18px;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    max-width: 600px;
    max-height: 600px;
    z-index: 1;
    border-radius: 20px;
    background-color: inherit;
    -webkit-box-shadow: 0px 0px 15px 2px #000000;
    box-shadow: 0px 0px 15px 2px #000000;
    row-gap: 40px;
}

.header__auth_forgot_password_form {
    display: flex;
    flex-direction: column;
}

.header__auth_form_close_icon {
    position: absolute;
    top: 13px;
    right: 15px;
}

.header__auth_form_close_icon:hover {
    cursor: pointer;
}

.header__auth_forgot_form_label_input_bg {
    border: 1px solid black;
}

.header__auth_forgot_form_label_input_error_bg {
    border: 2px solid red;
}

.header__auth_forgot_form_label {
    display: flex;
    flex-direction: column;
    height: 85px;
    row-gap: 6px;
    position: relative;
}

.header__auth_forgot_wrap_info_messages, .header__auth_forgot_form_label {
    width: 350px;
}

.header__auth_forgot_info_messages {
    line-height: 25px;
}

.header__auth_forgot_form_label input {
    height: 35px;
    box-sizing: border-box;
    padding-left: 18px;
    font-size: 16px;
}

.header__auth_forgot_form_label > input:focus {
    outline: 2px solid rgba(0, 0, 0, 0.6);
}

.header__auth_forgot_form_span_error_message {
    font-size: 13px;
    font-style: oblique;
}

.header__auth_forgot_form_p_success_message {
    font-style: oblique;
    color: #1fc91f;
}

.header__auth_forgot_form_warning_amber_icon {
    position: absolute;
    bottom: 28px;
    right: 10px;
}

.header__auth_form_close_icon:hover, .header__auth_forgot_form_span_error_message, .header__auth_forgot_form_warning_amber_icon{
    color: red;
}

.header__auth_forgot_form_circular {
    padding: 0;
    margin: 0 0 0 10px
}

@media screen and (min-width: 850px) and (max-width: 992px){
    .header__auth_forgot_password {
        left: 23vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px){
    .header__auth_forgot_password {
        left: 19vw;
    }
}

@media screen and (min-width: 660px) and (max-width: 768px){
    .header__auth_forgot_password {
        left: 15vw;
    }
}

@media screen and (min-width: 630px) and (max-width: 660px){
    .header__auth_forgot_password {
        left: 12vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 630px){
    .header__auth_forgot_password {
        left: 7vw;
    }
}


@media screen and (min-width: 550px) and (max-width: 576px){
    .header__auth_forgot_password {
        left: 5vw;
    }
}


@media screen and (min-width: 540px) and (max-width: 550px){
    .header__auth_forgot_password {
        left: 6vw;
        width: 480px;
    }
}

@media screen and (min-width: 500px) and (max-width: 540px){
    .header__auth_forgot_password {
        left: 7vw;
        width: 450px;
    }
}

@media screen and (min-width: 480px) and (max-width: 500px){
    .header__auth_forgot_password {
        left: 4vw;
        width: 450px;
    }
}

@media screen and (min-width: 440px) and (max-width: 480px){
    .header__auth_forgot_password {
        left: 7vw;
        width: 400px;
    }
}

@media screen and (min-width: 423px) and (max-width: 440px){
    .header__auth_forgot_wrap_info_messages, .header__auth_forgot_form_label {
        width: 300px;
    }
    .header__auth_forgot_password {
        left: 10vw;
        width: 350px;
    }
}

@media screen and (min-width: 400px) and (max-width: 423px){
    .header__auth_forgot_wrap_info_messages, .header__auth_forgot_form_label {
        width: 290px;
    }
    .header__auth_forgot_password {
        left: 11vw;
        width: 330px;
    }
}

@media screen and (min-width: 370px) and (max-width: 400px){
    .header__auth_forgot_wrap_info_messages, .header__auth_forgot_form_label {
        width: 270px;
    }
    .header__auth_forgot_password {
        left: 9vw;
        width: 320px;
    }
}

@media screen and (max-width: 370px){
    .header__auth_forgot_wrap_info_messages, .header__auth_forgot_form_label {
        width: 250px;
    }
    .header__auth_forgot_password {
        left: 6vw;
        width: 320px;
    }
}
