.idea

# Client
/Client/dist
/Client/package-lock.json
/Client/node_modules
/Client/.pnp
/Client.pnp.js
/Client/coverage
/Client/build
/Client/.env
/Client/.DS_Store
/Client/.env.local
/Client/.env.development.local
/Client/.env.test.local
/Client/.env.production.local
/Client/npm-debug.log*
/Client/yarn-debug.log*
/Client/yarn-error.log*

# Server
/Server/dist
/Server/node_modules
/Server/package-lock.json
/Server/.env
/Server/my-library-ua.json

# AnalyticsServer
/AnalyticsServer/dist
/AnalyticsServer/node_modules
/AnalyticsServer/package-lock.json
/AnalyticsServer/.env

# ProdJS
/awsjs/.env.-db
/awsjs/.env.-redis
/awsjs/.env.-web

# ProdJS Server
/awsjs/Server/node_modules
/awsjs/Server/package-lock.json
/awsjs/Server/.env
/awsjs/Server/my-library-ua.json

# ProdJS Analytics Server
/awsjs/AnalyticsServer/dist
/awsjs/AnalyticsServer/node_modules
/awsjs/AnalyticsServer/package-lock.json
/awsjs/AnalyticsServer/.env

# Project exclude paths
/Client/src/enums/role/role.enum.js
/Client/src/enums/role/role.enum.js.map
/Client/src/enums/file.enum.js
/Client/src/enums/file.enum.js.map
/Client/src/enums/http-message.enum.js
/Client/src/enums/http-message.enum.js.map
/Client/src/enums/http-status.enum.js
/Client/src/enums/http-status.enum.js.map
/Client/src/enums/index.js
/Client/src/enums/index.js.map
/Client/src/enums/keyValidationError.enum.js
/Client/src/enums/keyValidationError.enum.js.map
/Client/src/enums/status.enum.js
/Client/src/enums/status.enum.js.map
/Client/src/enums/themeMode.enum.js
/Client/src/enums/themeMode.enum.js.map
/Client/src/enums/tokens.enum.js
/Client/src/enums/tokens.enum.js.map
/Client/src/interfaces/auth/payload.interface.js
/Client/src/interfaces/auth/payload.interface.js.map
/Client/src/interfaces/auth/tokenPair.interface.js
/Client/src/interfaces/auth/tokenPair.interface.js.map
/Client/src/interfaces/constants/urls.interface.js
/Client/src/interfaces/constants/urls.interface.js.map
/Client/src/interfaces/create/user.create.interface.js
/Client/src/interfaces/create/user.create.interface.js.map
/Client/src/interfaces/props/genre.props.interface.js
/Client/src/interfaces/props/genre.props.interface.js.map
/Client/src/interfaces/props/handleBlur.props.interface.js
/Client/src/interfaces/props/handleBlur.props.interface.js.map
/Client/src/interfaces/props/handleRegistrationForm.props.interface.js
/Client/src/interfaces/props/handleRegistrationForm.props.interface.js.map
/Client/src/interfaces/props/profileListButton.props.interface.js
/Client/src/interfaces/props/profileListButton.props.interface.js.map
/Client/src/interfaces/response/error.response.interface.js
/Client/src/interfaces/response/error.response.interface.js.map
/Client/src/interfaces/response/genre.response.interface.js
/Client/src/interfaces/response/genre.response.interface.js.map
/Client/src/interfaces/response/ok.response.interface.js
/Client/src/interfaces/response/ok.response.interface.js.map
/Client/src/interfaces/response/user.reponse.interface.js
/Client/src/interfaces/response/user.reponse.interface.js.map
/Client/src/interfaces/slice/initialState/auth.initial.state.slice.interface.js
/Client/src/interfaces/slice/initialState/auth.initial.state.slice.interface.js.map
/Client/src/interfaces/slice/initialState/user.initial.state.slice.interface.js
/Client/src/interfaces/slice/initialState/user.initial.state.slice.interface.js.map
/Client/src/interfaces/slice/payload/auth.payload.interface.js
/Client/src/interfaces/slice/payload/auth.payload.interface.js.map
/Client/src/interfaces/slice/payload/error.payload.interface.js
/Client/src/interfaces/slice/payload/error.payload.interface.js.map
/Client/src/interfaces/slice/payload/user.payload.interface.js
/Client/src/interfaces/slice/payload/user.payload.interface.js.map
/Client/src/interfaces/commonResponseFields.interface.js
/Client/src/interfaces/commonResponseFields.interface.js.map
/Client/src/interfaces/genre.interface.js
/Client/src/interfaces/genre.interface.js.map
/Client/src/interfaces/index.js
/Client/src/interfaces/index.js.map
/Client/src/interfaces/toggle.interface.js
/Client/src/interfaces/toggle.interface.js.map
/Client/src/interfaces/user.interface.js
/Client/src/interfaces/user.interface.js.map
/Server/src/configs/email/email-template.config.js
/Server/src/configs/email/email-template.config.js.map
/Server/src/configs/email/email-transporter.config.js
/Server/src/configs/email/email-transporter.config.js.map
/Server/src/configs/index.js
/Server/src/configs/index.js.map
/Server/src/constants/email-messages.constant.js
/Server/src/constants/email-messages.constant.js.map
/Server/src/constants/email-template.constant.js
/Server/src/constants/email-template.constant.js.map
/Server/src/constants/email-title-message.constant.js
/Server/src/constants/email-title-message.constant.js.map
/Server/src/constants/error-message.constant.js
/Server/src/constants/error-message.constant.js.map
/Server/src/constants/errors--messages-validations.constant.js
/Server/src/constants/errors--messages-validations.constant.js.map
/Server/src/constants/file-mimetype.constant.js
/Server/src/constants/file-mimetype.constant.js.map
/Server/src/constants/files-upload-fields.js
/Server/src/constants/files-upload-fields.js.map
/Server/src/constants/index.js
/Server/src/constants/index.js.map
/Server/src/constants/request.constant.js
/Server/src/constants/request.constant.js.map
/Server/src/enums/client-key.enum.js
/Server/src/enums/client-key.enum.js.map
/Server/src/enums/email.enum.js
/Server/src/enums/email.enum.js.map
/Server/src/enums/errors-keys-validations.enum.js
/Server/src/enums/errors-keys-validations.enum.js.map
/Server/src/enums/file.enum.js
/Server/src/enums/file.enum.js.map
/Server/src/enums/files-upload-fields.enum.js
/Server/src/enums/files-upload-fields.enum.js.map
/Server/src/enums/http-message.enum.js
/Server/src/enums/http-message.enum.js.map
/Server/src/enums/http-status.enum.js
/Server/src/enums/http-status.enum.js.map
/Server/src/enums/index.js
/Server/src/enums/index.js.map
/Server/src/enums/item-type-file.enum.js
/Server/src/enums/item-type-file.enum.js.map
/Server/src/enums/messages.enum.js
/Server/src/enums/messages.enum.js.map
/Server/src/enums/node-environment.enum.js
/Server/src/enums/node-environment.enum.js.map
/Server/src/enums/role.enum.js
/Server/src/enums/role.enum.js.map
/Server/src/enums/tokens.enum.js
/Server/src/enums/tokens.enum.js.map
/Server/src/interfaces/queryParams/actions-comments.query.interface.js
/Server/src/interfaces/queryParams/actions-comments.query.interface.js.map
/Server/src/interfaces/queryParams/pagination.query.interface.js
/Server/src/interfaces/queryParams/pagination.query.interface.js.map
/Server/src/interfaces/requests/request.interface.js
/Server/src/interfaces/requests/request.interface.js.map
/Server/src/interfaces/response/response.interface.js
/Server/src/interfaces/response/response.interface.js.map
/Server/src/interfaces/actions-update-query.interface.js
/Server/src/interfaces/actions-update-query.interface.js.map
/Server/src/interfaces/already-read.interface.js
/Server/src/interfaces/already-read.interface.js.map
/Server/src/interfaces/already-read-extended.interface.js
/Server/src/interfaces/already-read-extended.interface.js.map
/Server/src/interfaces/author.interface.js
/Server/src/interfaces/author.interface.js.map
/Server/src/interfaces/author-create.interface.js
/Server/src/interfaces/author-create.interface.js.map
/Server/src/interfaces/author-new-fields.interface.js
/Server/src/interfaces/author-new-fields.interface.js.map
/Server/src/interfaces/author-patch.interface.js
/Server/src/interfaces/author-patch.interface.js.map
/Server/src/interfaces/book.interface.js
/Server/src/interfaces/book.interface.js.map
/Server/src/interfaces/book-create.js
/Server/src/interfaces/book-create.js.map
/Server/src/interfaces/book-new-fields.js
/Server/src/interfaces/book-new-fields.js.map
/Server/src/interfaces/book-patch.js
/Server/src/interfaces/book-patch.js.map
/Server/src/interfaces/client-key.interface.js
/Server/src/interfaces/client-key.interface.js.map
/Server/src/interfaces/comment.interface.js
/Server/src/interfaces/comment.interface.js.map
/Server/src/interfaces/comment-create.interface.js
/Server/src/interfaces/comment-create.interface.js.map
/Server/src/interfaces/comment-likes.interface.js
/Server/src/interfaces/comment-likes.interface.js.map
/Server/src/interfaces/comment-likes-create.interface.js
/Server/src/interfaces/comment-likes-create.interface.js.map
/Server/src/interfaces/comment-request.interface.js
/Server/src/interfaces/comment-request.interface.js.map
/Server/src/interfaces/context-email.interface.js
/Server/src/interfaces/context-email.interface.js.map
/Server/src/interfaces/favorite.interface.js
/Server/src/interfaces/favorite.interface.js.map
/Server/src/interfaces/favorite-textended.js
/Server/src/interfaces/favorite-textended.js.map
/Server/src/interfaces/file-extended.js
/Server/src/interfaces/file-extended.js.map
/Server/src/interfaces/forgot-token.interface.js
/Server/src/interfaces/forgot-token.interface.js.map
/Server/src/interfaces/genre.interface.js
/Server/src/interfaces/genre.interface.js.map
/Server/src/interfaces/google-user.interface.js
/Server/src/interfaces/google-user.interface.js.map
/Server/src/interfaces/index.js
/Server/src/interfaces/index.js.map
/Server/src/interfaces/login.interface.js
/Server/src/interfaces/login.interface.js.map
/Server/src/interfaces/pagination.interface.js
/Server/src/interfaces/pagination.interface.js.map
/Server/src/interfaces/payload.interface.js
/Server/src/interfaces/payload.interface.js.map
/Server/src/interfaces/rating.interface.js
/Server/src/interfaces/rating.interface.js.map
/Server/src/interfaces/rating-find.interface.js
/Server/src/interfaces/rating-find.interface.js.map
/Server/src/interfaces/search.interface.js
/Server/src/interfaces/search.interface.js.map
/Server/src/interfaces/tokens-pair.interface.js
/Server/src/interfaces/tokens-pair.interface.js.map
/Server/src/interfaces/unique-user-field.interface.js
/Server/src/interfaces/unique-user-field.interface.js.map
/Server/src/interfaces/user.interface.js
/Server/src/interfaces/user.interface.js.map
/Server/src/interfaces/user-update.interface.js
/Server/src/interfaces/user-update.interface.js.map
/Server/src/interfaces/view.interface.js
/Server/src/interfaces/view.interface.js.map
/Server/src/interfaces/views-params.interface.js
/Server/src/interfaces/views-params.interface.js.map
/Server/src/interfaces/will-read.interface.js
/Server/src/interfaces/will-read.interface.js.map
/Server/src/interfaces/will-read-extended.interface.js
/Server/src/interfaces/will-read-extended.interface.js.map
/Server/src/utils/index.js
/Server/src/utils/index.js.map
