.header__auth_google {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.header__auth_google img {
    height: 22px;
    width: 22px;
}

.header__auth_google_wrap_img {
    background-color: white;
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 0 10px 0 0;
}
