.likesAndDisLikes {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 12px;
    padding-top: 8px;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
}
