.skeleton__book_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 237px;
}

.skeleton__book_card__name {
    font-size: 16px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.skeleton__book_card__main_info {
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: center;
}

.skeleton__book_card__main_download {
    margin-top: 2px;
}
