.header__logo {
    width: 11vw
}

.header__logo img {
    height: 70px;
    width: 116px;
}

.header__logo:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__logo {
        display: none;
    }
}
