.title_genre_dark, .title {
    width: 400px;
}

.title {
    background-color: #FF5A6F;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
    box-sizing: border-box;
    align-items: center;
}

.title_genre_dark {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
    box-sizing: border-box;
    align-items: center;
    background-color: #323639;;
}

@media screen and (min-width: 400px) and (max-width: 576px) {
    .title, .title_genre_dark {
        width: 300px;
    }
}


@media screen and (max-width: 400px) {
    .title, .title_genre_dark {
        width: 200px;
    }
}
