.forgot__password_page {
    padding: 40px 0;
    height: 500px;
    display: flex;
    justify-content: center;
}

.forgot__password__page_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.forgot__password__page_error_message {
    font-size: 12px;
    color: red;
    margin-top: 2px;
    margin-left: 10px;
}

.forgot__password__page_success_message {
    color: #1ca21c;
    margin-top: 40px;
}

.forgot__password__page_label {
    display: block;
}

.forgot__password__page_label h3 {
    margin-bottom: 10px;
}

.forgot__password__page_form_btn_save {
    width: 200px;
    height: 60px;
}
