extends welcome
div
    p Ваш пароль:
        b #{password}
        p Збережіть собі його, ви також можете змінити його в налаштуваннях профілю
    p Пароль вам не потрібен у випадку, якщо ви забажаєте і надалі авторизовуватись за допомогою google.
